.login-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f7f9fc; /* Added background color */
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: 600;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-size: 1rem;
  color: #2c3e50;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded corners */
  font-size: 1rem;
  background-color: #e3f2fd; /* Background color for input fields */
}

input:focus {
  border-color: #6200ea;
  outline: none;
  box-shadow: 0 0 5px rgba(98, 0, 234, 0.5);
}

.error-message {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: 5px; /* Adjust margin for better spacing */
}

.login-button {
  padding: 12px 20px;
  background-color: #740808;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 20px; /* Rounded corners for button */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-button:hover {
  background-color: #3700b3;
  transform: scale(1.05);
}

p {
  margin-top: 20px;
  font-size: 1rem;
}

p a {
  color: #6200ea;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
